.card {
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,.24);
    transition: background-color .5s ease; /* 2017-04-06 --- Added for final tweeks --- */
    cursor: pointer;
}
.card,
.card-header,
.card-footer {
    border: none;
    border-radius: 0;
   /* background-color: #00BCD4;
    color: #FFF; --- 2017-04-05 --- Deleted, due to they are managed through weather.componets.ts file  */
}
.card-header,
.card-footer {
    padding: 1rem .5rem;
    background-color: transparent; /* 2017-04-05 --- Added due to the above note --- */
 /*   background-color: #67809F; */
}
#location-wrapper { /* 2017-04-06 --- Added for final tweeks --- */
    font-size: 1.1rem;
}
#location-icon {
    padding-right: .5rem;
}
.card-block {
    padding: 1.5rem 0;
} 
#indicator { /* 2017-04-06 --- Added for final tweeks --- */
    height: 165px;
    position: relative;
}
#indicator i { /* 2017-04-06 --- Added for final tweeks --- */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    margin: -8% 0 0 25%;
}
canvas {  /* 2017-04-06 --- Added for final tweeks --- */
    max-width: 250px;
    margin-bottom: 1rem;
}
.card-block,
.card-footer {
    text-align: center;
}
card-footer {
    padding-bottom: .5rem;
}
#detail-row { /* 2017-04-06 --- Added for final tweeks --- */
    font-size: .8rem;
}
#helper-row { /* 2017-04-06 --- Added for final tweeks --- */
    padding-top: .5rem;
}
p { /* 2017-04-06 --- Added for final tweeks --- */
    margin: .2rem;
   /* text-transform: uppercase;  /* 2017-04-06 --- Added for final tweeks --- */
}
p:not(.unit-label) { /* 2017-04-06 --- Added for final tweeks --- */
    text-transform: uppercase;
}